<h4 class="heading">Small</h4>
<div>
	<button class="circle" data-tooltip="Add" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#plus'|theme }}"></use></svg>
	</button>
	<button class="rounded" data-tooltip="Edit" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#edit'|theme }}"></use></svg>
		Icon Button Rounded
	</button>
	<button data-tooltip="Home" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#home'|theme }}"></use></svg>
	</button>
	<button data-tooltip="Delete" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#delete'|theme }}"></use></svg>
	</button>
	<button data-tooltip="Search" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#search'|theme }}"></use></svg>
	</button>
	<button data-tooltip="Menu" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#menu'|theme }}"></use></svg>
	</button>
	<button data-tooltip="Settings" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#settings'|theme }}"></use></svg>
	</button>
	<button data-tooltip="Contact" data-tooltip-pos="down">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#mail'|theme }}"></use></svg>
	</button>
</div>

<h4 class="heading">Medium</h4>
<div>
	<button class="circle">
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#plus'|theme }}"></use></svg>
	</button>
	<button class="rounded">
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#edit'|theme }}"></use></svg>
	    Icon Button Rounded
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#home'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#delete'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#search'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#menu'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#settings'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#mail'|theme }}"></use></svg>
	</button>
</div>

<h4 class="heading">Large</h4>
<div>
	<button class="circle">
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#plus'|theme }}"></use></svg>
	</button>
	<button class="circle">
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#edit'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#home'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#delete'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#search'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#menu'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#settings'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#mail'|theme }}"></use></svg>
	</button>
</div>

<h4 class="heading">Social</h4>
<div>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-facebook'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-twitter'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-instagram'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-pinterest'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-youtube'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-whatsapp'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-dribbble'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-vimeo'|theme }}"></use></svg>
	</button>
</div>
