[viewBag]
==
<div class="centered">
  <!-- Start Social buttons -->
  <div class="social-links">
    <a class="button circle" href="#">
      <svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-facebook'|theme }}"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-twitter'|theme }}"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-youtube'|theme }}"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-dribbble'|theme }}"></use></svg>
    </a>
  </div>
  <!-- End Social buttons -->
  <p class="pad">Swan UI - 2016</P>
</div>
