[viewBag]

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
==
<div class="logo">
    <a href="/v1">
        <img src="{{ 'assets/images/logo-app.png'|theme }}" alt="Swan">
    </a>
</div>
<div class="main-navigation" role="banner">
    <nav role="navigation">    
        {% partial 'main-menu' items=mainMenu.menuItems id='js-navigation-menu' class='navigation-menu show' %}
    </nav>
    <div class="navigation-tools">
      <div class="social-bar">
        <a href="https://www.facebook.com/" target="_blank" class="btn-dark circle">
          <img src="{{ 'assets/images/ic-social-facebook.png'|theme }}" alt="Facebook">
        </a>
        <a href="https://twitter.com/" target="_blank" class="btn-dark circle">
          <img src="{{ 'assets/images/ic-social-twitter.png'|theme }}" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/" target="_blank" class="btn-dark circle">
          <img src="{{ 'assets/images/ic-social-youtube.png'|theme }}" alt="Youtube">
        </a> 
      </div>
    </div>
</div>