[viewBag]

[staticMenu mainMenu]
code = "main-menu"
==
<ul id="{{ id }}" class="{{ class }}">
    {% for item in items %}
        <li 
            class="nav-link {{ item.isActive or item.isChildActive ? 'active-nav-item': '' }} 
            {{ item.items ? 'more': '' }}" >
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.items %}
                {% partial 'main-menu-submenu' items=item.items %}
            {% endif %}
        </li>
    {% endfor %}
</ul>