[viewBag]
==
<script src="{{ 'assets/scripts/all/scrollIt.min.js' |theme }}"></script>
<script src="{{ 'assets/scripts/all/jquery.sticky.js' |theme }}"></script>
<script src="{{ 'assets/scripts/all/responsiveslides.min.js' |theme }}"></script>

{% framework extras %}

<script>
  $(function() {
      $("#slider-home").responsiveSlides({
          maxwidth: 980,
          auto: true,            
          speed: 1200,           
          timeout: 5000,         
          pager: false,           
          nav: true,             
      });
  });
</script>

<script type="text/javascript">
  $(function(){
    $.scrollIt();
  });  

  $(document).ready( function() {
      if(window.matchMedia('(min-width: 768px)').matches) {
        $(".sub-navigation").sticky({topSpacing:0});
        $(".sidebar__mainpanel").sticky({topSpacing:0});
      }      
  });

  $(document).ready(function(){
    $('.offcanvas-panel-button,.offcanvas-panel-fade-screen,.offcanvas-panel-close').on('click touchstart',function (e) {
      $('.offcanvas-panel-content,.offcanvas-panel-fade-screen').toggleClass('is-visible');
      e.preventDefault();
    });
  });
</script>  

<script type="text/javascript">
  $(document).ready(function() {
    var menuToggle = $('#js-mobile-menu').unbind();
    $('#js-navigation-menu').removeClass("show");

    menuToggle.on('click', function(e) {
      e.preventDefault();
      $('#js-navigation-menu').slideToggle(function(){
        if($('#js-navigation-menu').is(':hidden')) {
          $('#js-navigation-menu').removeAttr('style');
        }
      });
    });
  });
</script>