[viewBag]
==
<div class="slideshow">
    <ul class="rslides" id="slider-home">
      <!--<li><a href="/labguion/2016"><img src="http://cinefilia.org.co/storage/app/media/slider/header-labguion2016-home.jpg" alt="LabGuion 2016"></a>
      </li> -->
      <!-- <li><a href="/formacion/cine-gastronomia"><img src="http://cinefilia.org.co/storage/app/media/slider/header-cine-gastronomia-2016.jpg" alt="Cine y gastronomía - Seminario"></a>
      </li> -->
      <li><a href="/formacion/"><img src="http://cinefilia.org.co/storage/app/media/slider/header-cursos-2016-II.jpg" alt="Cursos 2016"></a>
      </li>
      <li><a href="/formacion/seminario-guion"><img src="http://cinefilia.org.co/storage/app/media/slider/header-seminario-guion2016.jpg" alt="Seminario Internacional de Guion 2016"></a>
      </li>
    </ul>
</div>