[viewBag]
==
<div class="centered">
  <!-- Start Social buttons -->
  <div class="social-links">
    <a class="button primary" href="javascript:void(0)">
      <img src="{{'assets/images/ic-social-facebook.png'|theme }}" alt="Facebook">
    </a>
    <a class="button primary" href="javascript:void(0)">
      <img src="{{'assets/images/ic-social-twitter.png'|theme }}" alt="Twitter">
    </a>
    <a class="button primary" href="javascript:void(0)">
      <img src="{{'assets/images/ic-social-youtube.png'|theme }}" alt="YouTube">
    </a>
  </div>
  <!-- End Social buttons -->
  <p class="pad">Swan UI Ⓒ 2016</P>          
</div>