[viewBag]
==
<div class="centered">
  <!-- Start Social buttons -->
  <div class="social-links">
    <a class="button circle" href="#"> 
      <svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-social-facebook'|theme }}"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-social-twitter'|theme }}"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-social-youtube'|theme }}"></use></svg>
    </a>
    <a class="button circle" href="#">
      <svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-social-dribbble'|theme }}"></use></svg>
    </a>
  </div>
  <!-- End Social buttons -->
  <p class="pad">Swan UI - 2016</P>
</div>