[viewBag]

[staticMenu mainMenu]
code = "mainMenu"

[staticPage]
==
<div class="navigation">
    <!-- Logo -->
    <a class="logo" href="{{ '/'|app }}"><img src="{{'assets/images/logo-white.png'|theme }}" alt="Swan"></a>
    <nav id="menu-main" class="menu" role="navigation">
      <!-- Menu -->
      {% partial 'master/menu' items=mainMenu.menuItems %}
    </nav>
    <div class="menu-mobile-open">        
    	<button type="button">☰</button> 
    </div> 
</div>
<div class="menu-mobile-fade-screen"></div>