[viewBag]
==
<div class="navigation">
    <!-- Logo -->
    <a class="logo" href="{{ '/'|app }}"><img src="{{'assets/images/logo-white.png'|theme }}" alt="Swan"></a>
    <!-- Start Menu -->
    <nav id="menu-main" class="menu" role="navigation">
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="/base">Base</a></li>
        <li><a href="/components">Components</a></li>
        <li><a href="/layout">Layout</a></li>
        <li><a href="/color">Color</a></li>
      </ul>
    </nav>
    <!-- End Menu -->
    <div id="btnMenu" class="menu-mobile-open">
    	<button type="button"><label>☰</label></button>
    </div>
</div>
<div id="fadeScreen" class="menu-mobile-fade-screen"></div>