[viewBag]
==
<!-- Global -->
    <title>{{ title ?: this.page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Experimental UI Framework">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{'assets/images/favicon.ico'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{'assets/images/apple-touch-icon.png'|theme }}" />
    <!-- Styles and fonts -->
    <link href="{{'assets/styles/css/styles-black.css'|theme }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{'assets/styles/css/styles.min.css'|theme }}" media="screen" rel="stylesheet" type="text/css">
    <!-- IE support -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% styles %}
