[viewBag]
==
<!-- BrowserSync -->
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:8890/browser-sync/browser-sync-client.js?v=2.17.0'><\/script>".replace("HOST", location.hostname));
//]]></script>

<!-- Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbSwnU9Gap7qYsxwwaatE-Hf1TtPZgEU4"></script>
<!-- Scripts -->
<script src="{{ 'assets/scripts/scripts.min.js' |theme }}"></script>

<script>
     SyntaxHighlighter.all();
     svg4everybody();
     smoothScroll.init({selectorHeader: '[data-scroll-header]'});
</script>
<script>
    // Slideshow
    var element = document.querySelector('.slideshow'),
        prevBtn = document.querySelector('.js-slideshow-prev'),
        nextBtn = document.querySelector('.js-slideshow-next');
    window.mySwipe = new Swipe(element, {
      startSlide: 0,
      auto: 3000,
      draggable: true,
      autoRestart: true,
      continuous: true,
      disableScroll: true,
      stopPropagation: true,
      callback: function(index, element) {},
      transitionEnd: function(index, element) {}
    });
    prevBtn.onclick = mySwipe.prev;
    nextBtn.onclick = mySwipe.next;

    // Modal Dialog

    const modal = new VanillaModal();

</script>
