[viewBag]
==
<!-- BrowserSync -->
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:8890/browser-sync/browser-sync-client.js?v=2.17.0'><\/script>".replace("HOST", location.hostname));
//]]></script>

<!-- Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbSwnU9Gap7qYsxwwaatE-Hf1TtPZgEU4"></script>
<!-- Scripts -->
<script src="{{ 'assets/scripts/scripts.min.js' |theme }}"></script>

<script>
    // Slideshow
    document.addEventListener('DOMContentLoaded', function () {
        var simple = document.querySelector('.js_simple');

        lory(simple, {
            infinite: 1
        });
    });
</script>
<script>
     SyntaxHighlighter.all();
     svg4everybody();
</script>

<script>
    // Modal Dialog
    var modalDialog = new tingle.modal();
    var modalDialogBtn = document.querySelector('.js-modal');
    modalDialogBtn.addEventListener('click', function(){
        modalDialog.open();
    });
    modalDialog.setContent(document.querySelector('.modal-content').innerHTML);
</script>
