<!-- Scripts -->
<script src="{{ 'assets/scripts/scripts.min.js' |theme }}"></script>
<script src="{{ 'assets/scripts/src/components/theme-switch.js' |theme }}"></script>

<script>
  // Polyfills
  svg4everybody();
  objectFitImages();
  // Smooth Scroll and Gum Shoe
  smoothScroll.init({selectorHeader: '[data-scroll-header]'});
  gumshoe.init();
  // Modal Dialog
  const modal = new VanillaModal({
    clickOutside : false
  });
  // Slideshow
  var element = document.querySelector('.slideshow'),
     prevBtn = document.querySelector('.js-slideshow-prev'),
     nextBtn = document.querySelector('.js-slideshow-next');
  window.mySwipe = new Swipe(element, {
    startSlide: 0,
    auto: 3000,
    draggable: true,
    autoRestart: true,
    continuous: true,
    disableScroll: true,
    stopPropagation: true,
    callback: function(index, element) {},
    transitionEnd: function(index, element) {}
  });
  prevBtn.onclick = mySwipe.prev;
  nextBtn.onclick = mySwipe.next;
</script>

{% partial 'styleguide/app-scripts-syntax' %}

{% if this.page.url == "/styleguide/components" %}
{% partial 'styleguide/app-scripts-map' %}
{% endif %}
