// -----------------------------------------------------------
// MEDIA IMAGE by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// STYLES
// -----------------------------------------------------------

img {
	display: inline-block;
	max-width:100%;
	height:auto;
	}
