// -----------------------------------------------------------
// MEDIA IMAGE by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// STYLES
// -----------------------------------------------------------

img {
	display: inline-block;
	max-width:100%;
	height:auto;
	}

// Lazysizes

img[data-sizes="auto"] {
	display: block;
	width: 100%;
}

// Fade effect
// fade image in after load
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
