// -----------------------------------------------------------
// MEDIA ICONS by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Basic Icon Placeholder
// -----------------------------------------------------------

%icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: $icon-stroke-width;
  stroke: $icon-stroke-color;
  fill: $icon-fill-color;
  vertical-align: middle;
  transition:.2s;
  }

%icon:hover {
  stroke-width: $icon-hover-stroke-width;
  stroke: $icon-hover-stroke-color;
  fill: $icon-hover-fill-color;
  transition:.2s;
  }


// Global styles (sizes)
// -----------------------------------------------------------

.icon {
  @extend %icon;
}

.icon-medium {
  @extend %icon;
  width: 4rem;
  height: 4rem;
}

.icon-large {
  @extend %icon;
  width: 6rem;
  height: 6rem;
}


.icon-huge {
  @extend %icon;
  width: 15rem;
  height: 15rem;
}

.icon-xhuge {
  @extend %icon;
  width: 30rem;
  height: 30rem;
}