// -----------------------------------------------------------
// GRID by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Usar en caso de emergencia

// STYLES
// -----------------------------------------------------------

.col1  { @include span-columns(1); outline:$layout-border;  }
.col2  { @include span-columns(2); outline:$layout-border;  }
.col3  { @include span-columns(3); outline:$layout-border;  }
.col4  { @include span-columns(4); outline:$layout-border;  }
.col5  { @include span-columns(5); outline:$layout-border;  }
.col6  { @include span-columns(6); outline:$layout-border;  }
.col7  { @include span-columns(7); outline:$layout-border;  }
.col8  { @include span-columns(8); outline:$layout-border;  }
.col9  { @include span-columns(9); outline:$layout-border;  }
.col10 { @include span-columns(10); outline:$layout-border;  }
.col11 { @include span-columns(11); outline:$layout-border;  }
.col12 { @include span-columns(12); outline:$layout-border;  }

@include media($mobile) {
    .col1, .col2, .col3, .col4,
    .col5, .col6, .col7, .col8,
    .col9, .col10, .col11, .col12 {
      @include span-columns(12 of 12);
      outline:$layout-border;
    }

  }
