==
<!DOCTYPE html>
<html lang="en">
<head>
    {% partial 'master/head' %}
</head>
<body>
<div class="layout">
    <!-- Header :::::::::::::::::::::: -->
    <header class="layout-header">
        <section class="section">
            <div class="section-content">          
                {% partial 'master/header' %}
            </div>
        </section>        
    </header>
    <!-- Content Area :::::::::::::::::::::: --> 
    <main class="layout-main" role="main">
        <section class="section">
            <div class="section-content-full">
                <!-- Subheader :::::::::::::::::::::: -->
                {% partial 'master/subheader-hero' %}
            </div>
        </section>
        <section class="section">
            <div class="section-content">        
                <!-- Content :::::::::::::::::::::: -->
                {% partial 'master/content' %}
            </div>
        </section>
    </main>
    <!-- Footer :::::::::::::::::::::: -->        
    <footer class="layout-footer">
         {% partial 'master/footer' %}
    </footer>
</div>

{% partial 'master/scripts' %}

</body>
</html>