==
<!DOCTYPE html>
<html lang="en">
<head>
    {% partial 'master/head' %}
</head>
<body>
<div class="layout">
  <!-- Header :::::::::::::::::::::: -->
  <header class="layout-header fixed-top shadow-bottom">     
    {% partial 'master/header' %} 
  </header>
  <!-- Content Area :::::::::::::::::::::: --> 
  <main class="layout-main" role="main">
    <section class="section">
      <div class="section-content-full">
        <!-- Subheader :::::::::::::::::::::: -->
        {% partial 'master/subheader' %}
      </div>
    </section>
    <section class="section">
      <div class="section-content">
        <!-- Content :::::::::::::::::::::: -->
        {% partial 'master/content' %}
      </div>
    </section>
  </main>
  <!-- Footer :::::::::::::::::::::: -->        
  <footer class="layout-footer">
    {% partial 'master/footer' %}
  </footer>
</div>

{% partial 'master/scripts' %}

</body>
</html>