==
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% partial 'head' %}
</head>
<body>
    <div id="app" class="layout_main layout--centered">
        <!-- Header :::::::::::::::::::::: -->
        <div id="header" class="layout__header">
            {% partial 'header' %}
        </div>
        <div id="header-mobile" class="header__mobile">
            {% partial 'header-mobile' %}
        </div>
        <!-- Content Area :::::::::::::::::::::: --> 
        <div id="contentarea" class="layout__contentarea">
            <!-- Subheader :::::::::::::::::::::: -->
            {% partial 'subheader' %}
            <!-- Content :::::::::::::::::::::: -->
            {% partial 'content' %}
            <!-- Sidebar :::::::::::::::::::::: -->
            {% partial 'sidebar' %}
        </div>
        <!-- Footer :::::::::::::::::::::: -->        
        <div id="footer" class="layout__footer">
             {% partial "footer" %}
        </div>
    </div>

{% partial 'scripts' %}

</body>
</html>