// -----------------------------------------------------------
// HELPERS
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


//VARIABLES

$overlay-bg:           rgba(255, 255, 255, 0.7) !default;


// SVG COLOR

.fill-white {
  fill: $white;
}

// FONT COLOR CLASSES

.white   { color:   $white; } // White (HTML color: white)
.gray1   { color:   $gray1; }
.gray2   { color:   $gray2; }
.gray3   { color:   $gray3; }
.gray4   { color:   $gray4; }
.gray5   { color:   $gray5; } // Gray medium (HTML color: gray)
.gray6   { color:   $gray6; }
.gray7   { color:   $gray7; }
.gray8   { color:   $gray8; }
.gray9   { color:   $gray9; }
.black   { color:   $black; } // Black (HTML color: black)


// BG COLOR CLASSES

.bg-white   { background:   $white ; color: $gray6; } // White (HTML color: white)
.bg-gray1   { background:   $gray1 ; color: $gray6; }
.bg-gray2   { background:   $gray2 ; color: $gray6; }
.bg-gray3   { background:   $gray3 ; color: $gray6; }
.bg-gray4   { background:   $gray4 ; color: $white; }
.bg-gray5   { background:   $gray5 ; color: $white; } // Gray medium (HTML color: gray)
.bg-gray6   { background:   $gray6 ; color: $white; }
.bg-gray7   { background:   $gray7 ; color: $white; }
.bg-gray8   { background:   $gray8 ; color: $white; }
.bg-gray9   { background:   $gray9 ; color: $white; }
.bg-black   { background:   $black ; color: $white; } // Black (HTML color: black)


// Dimensions classes

.size-xs    {  height: $size-xs   ; }
.size-s     {  height: $size-s    ; }
.size-m     {  height: $size-m    ; }
.size-l     {  height: $size-l    ; }
.size-xl    {  height: $size-xl   ; }
.size-xxl   {  height: $size-xxl  ; }

// Other

.hidden {
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.visible {
  display: block;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

// Order

.to-right {
  float:right;
}

.to-left {
  float:left;
}

.to-center {
  text-align:center;
}

.shadow-bottom {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.22);
}

.shadow-right {
  box-shadow: 4px 3px 5px -1px rgba(0,0,0,0.22);
}

// -----------------------------------

.full {
  width: 100%;
}

.shadow {
  box-shadow: 12px 11px 23px -14px rgba(0,0,0,0.8);
}

// Ghost mode

.ghost-mode {
  background: none;
}

.pad {
 padding: 1rem 2rem;
  @include media($mobile){
    padding: 0.5rem 1rem;
    }
}

// Gaps

.gap-bottom {
  margin-bottom: 1rem;
}

.gap-left {
  padding-left: 17rem;
	@include media($mobile){
    padding-left:0;
    }
}
