// -----------------------------------------------------------
// MAP VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Based on CodyHouse
// https://codyhouse.co/gem/custom-google-map/

// colors

$background: $gray2; // body background color

// breakpoints
  
$S:     320px;   
$M:     768px;     
$L:     1170px;         

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// Global UI Styles

#google-container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: $background;

    @include MQ(M) {
      height: 300px;
    }

    @include MQ(L) {
      height: 600px;
    }
}

#cd-google-map {
  position: relative;

  address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: $gray8;
    color: $white;
    font-size: 13px;

    @include MQ(M) {
      font-size: 15px;
      text-align: center;
    }
  }
}

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: $gray8;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url('../../images/icon-controller.svg');

  .no-touch &:hover {
    background-color: $gray8;
  }

  @include MQ(M) {
    margin-left: 50px;
  }
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;

  @include MQ(M) {
    margin-top: 50px;
  }
}

#cd-zoom-out {
  background-position: 50% -32px;
}

// Custom Styles

.marker-base { fill: green; }
.marker-circle { fill: white; }
.marker-shadow { opacity: 0.19; }
