// -----------------------------------------------------------
// MAP VIEW by Sebastian Serna - 2016
// -----------------------------------------------------------
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Based on CodyHouse
// https://codyhouse.co/gem/custom-google-map/

// colors

$background: $gray2; // body background color

// breakpoints
  
$S:     320px;   
$M:     768px;     
$L:     1170px;         



// Global UI Styles

.mapview-canvas  {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: $background;
}

.mapview {
  position: relative;

  address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: $gray9;
    color: $white;
    font-size: 1.3rem;
  }
}

.mapview-zoom-in, .mapview-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: $gray9;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url('../../images/icon-controller.svg');

  .no-touch &:hover {
    background-color: $gray8;
  }
}

.mapview-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

.mapview-zoom-out  {
  background-position: 50% -32px;
}

// Custom Styles

.marker-base { fill: green; }
.marker-circle { fill: white; }
.marker-shadow { opacity: 0.19; }
