// -----------------------------------------------------------
// SLIDESHOW
// -----------------------------------------------------------
// Based on Swipe v2.2.3 https://github.com/lyfeyaj/swipe/
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

$slideshow-bg: $gray9;
$slideshow-item-bg: $gray8;


// STYLES
// -----------------------------------------------------------

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  max-width:980px;
  height:350px;
  margin:0 auto;
  background: $slideshow-bg;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.swipe div b {
    background-color: $slideshow-item-bg;
    border-radius: 3px;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #eee;
}
.swipe-wrap > div b {
    max-width:980px;
    height:350px;
    display: block;
    font-size: 2rem;
    margin: 0 0.5rem;
    padding: 4rem 1rem;
    text-align: center;
    vertical-align: middle;
}
