// -----------------------------------------------------------
// SLIDESHOW
// -----------------------------------------------------------
// Based on Swipe v2.2.3 https://github.com/lyfeyaj/swipe/
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// VARIABLES
// -----------------------------------------------------------

$slideshow-bg:                 $gray9 !default;
$slideshow-item-bg:            $gray8 !default;
$slideshow-btn-icon-color:     $gray2 !default;


// STYLES
// -----------------------------------------------------------

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width:100%;
  min-height:35rem;
  margin:0 auto;
  background: $slideshow-bg;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.swipe div b {
    background-color: $slideshow-item-bg;
    vertical-align: middle;
}
.swipe-wrap > div b {
    min-height:35rem;
    display: block;
    font-size: 15rem;
    //margin: 0 0.5rem;
    padding: 7rem 1rem;
    text-align: center;
}

.slideshow-btn-icon {
  fill: $slideshow-btn-icon-color;
}
