[viewBag]
==
<nav class="menu menu-vertical fixed-left" data-scroll-header data-gumshoe-header >
  <ul data-gumshoe>
    <li><a data-scroll href="#tooltip">Tooltip</a></li>
    <li><a data-scroll href="#listview">List View</a></li>
    <li><a data-scroll href="#cardview">Card View</a></li>
    <li><a data-scroll href="#gridview">Grid View</a></li>
    <li><a data-scroll href="#articleview">Article View</a></li>
    <li><a data-scroll href="#main-menu">Menu</a></li>
    <li><a data-scroll href="#pagination">Pagination</a></li>
    <li><a data-scroll href="#dialog">Dialog</a></li>
    <li><a data-scroll href="#slideshow">Slideshow</a></li>
    <li><a data-scroll href="#mapview">Map View</a></li>
  </ul>
</nav>
