[viewBag]
==
<div data-scroll-header>
  <p>Scroll to anchor:</p>
  <a class="button" data-scroll href="#listview">List View</a>
  <a class="button" data-scroll href="#cardview">Card View</a>
  <a class="button" data-scroll href="#gridview">Grid View</a>
  <a class="button" data-scroll href="#articleview">Article View</a>
  <a class="button" data-scroll href="#main-menu">Main Menu</a>
  <a class="button" data-scroll href="#pagination">Pagination</a>
  <a class="button" data-scroll href="#dialog">Dialog</a>
  <a class="button" data-scroll href="#slideshow">Slideshow</a>
  <a class="button" data-scroll href="#mapview">Map View</a>
</div>
