[viewBag]
==
<nav class="menu menu-vertical fixed-left" data-gumshoe-header style="width:170px;overflow:auto;top:70px;">
  <ul data-gumshoe>
    <li><a href="#tooltip" data-scroll>Tooltip</a></li>
    <li><a href="#hero-banner" data-scroll>Hero Banner</a></li>
    <li><a href="#listview" data-scroll>List View</a></li>
    <li><a href="#cardview" data-scroll>Card View</a></li>
    <li><a href="#gridview" data-scroll>Grid View</a></li>
    <li><a href="#articleview" data-scroll>Article View</a></li>
    <li><a href="#main-menu" data-scroll>Menu</a></li>
    <li><a href="#pagination" data-scroll>Pagination</a></li>
    <li><a href="#dialog" data-scroll>Dialog</a></li>
    <li><a href="#slideshow" data-scroll>Slideshow</a></li>
    <li><a href="#mapview" data-scroll>Map View</a></li>
  </ul>
</nav>
