[viewBag]
==
<section class="gridview">
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure lazyload" data-src="{{'assets/images/thumb-square-m.png'|theme }}" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure lazyload" data-src="{{'assets/images/thumb-square-m.png'|theme }}" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure lazyload" data-src="{{'assets/images/thumb-square-m.png'|theme }}" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure lazyload" data-src="{{'assets/images/thumb-square-m.png'|theme }}" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure lazyload" data-src="{{'assets/images/thumb-square-m.png'|theme }}" alt="">
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="gridview-item-figure lazyload" data-src="{{'assets/images/thumb-square-m.png'|theme }}" alt="">
      </a>
    </article>
</section>
