[viewBag]
==
<section class="gridview">
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/demo/fashion.jpg'|theme }}"
          alt="Image"
          src="{{'assets/images/thumb-square-m.png'|theme }}"
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/demo/food.jpg'|theme }}"
          alt="Image"
          src="{{'assets/images/thumb-square-m.png'|theme }}"
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/demo/animals.jpg'|theme }}"
          alt="Image"
          src="{{'assets/images/thumb-square-m.png'|theme }}"
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/demo/city.jpg'|theme }}"
          alt="Image"
          src="{{'assets/images/thumb-square-m.png'|theme }}"
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/demo/sports.jpg'|theme }}"
          alt="Image"
          src="{{'assets/images/thumb-square-m.png'|theme }}"
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/demo/nature.jpg'|theme }}"
          alt="Image"
          src="{{'assets/images/thumb-square-m.png'|theme }}"
          class="lazyload" />
      </a>
    </article>
</section>




<section class="gridview">
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
</section>
