[viewBag]
==
<section class="gridview">
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          alt="Image"
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazyload" />
      </a>
    </article>
</section>
