[viewBag]
==
<div class="navigation">
    <!-- Logo -->
    <a class="logo" href="avascript:void(0)"><img src="{{'assets/images/logo-white.png'|theme }}" alt="Swan"></a>
    <!-- Start Menu -->
    <nav id="menu-main" class="menu" role="navigation">
      <ul>
        <li><a href="javascript:void(0)">Item 1</a></li>
        <li><a href="javascript:void(0)">Item 2</a></li>
        <li><a href="javascript:void(0)">Item 3</a></li>
        <li><a href="javascript:void(0)" class="active">Item 4</a></li>
        <li><a href="javascript:void(0)">Item 5</a></li>
        <li><a href="javascript:void(0)">Item 6</a></li>
        <li><a href="javascript:void(0)">Item 7</a></li>
      </ul>
    </nav>
    <!-- End Menu -->
    <div id="btnMenu" class="menu-mobile-open">
    	<button type="button">☰</button>
    </div>
</div>
<div id="fadeScreen" class="menu-mobile-fade-screen"></div>