[viewBag]
==
<h2>Section 3</h2>
<section class="gridview">
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image 1"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image 2"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image 3"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image 4"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image 5"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{'assets/images/thumb-square-m.png'|theme }}"
          alt="Image 6"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
</section>
