[viewBag]
==
<h4 class="heading">Small</h4>
<div>
	<button class="circle">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-add'|theme }}"></use></svg>
	</button>
	<button class="rounded">
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-edit'|theme }}"></use></svg>
		Icon Button Rounded
	</button>
	<button>
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-home'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-delete'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-search'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-menu'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-settings'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-mail'|theme }}"></use></svg>
	</button>
</div>

<h4 class="heading">Medium</h4>
<div>
	<button class="circle">
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-add'|theme }}"></use></svg>
	</button>
	<button class="rounded">
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-edit'|theme }}"></use></svg>
	    Icon Button Rounded
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-home'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-delete'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-search'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-menu'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-settings'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-mail'|theme }}"></use></svg>
	</button>
</div>

<h4 class="heading">Large</h4>
<div>
	<button class="circle">
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-add'|theme }}"></use></svg>
	</button>
	<button class="circle">
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-edit'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-home'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-delete'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-search'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-menu'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-settings'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-mail'|theme }}"></use></svg>
	</button>
</div>

<h4 class="heading">Social</h4>
<div>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-facebook'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-twitter'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-instagram'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-pinterest'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-youtube'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-whatsapp'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-dribbble'|theme }}"></use></svg>
	</button>
	<button>
		<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-vimeo'|theme }}"></use></svg>
	</button>
</div>