[viewBag]
==
<h4>Small</h4>
<hr />
<div>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-add'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-edit'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-home'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-delete'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-search'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-menu'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-settings'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#icon-mail'|theme }}"></use></svg>
</div>

<h4>Medium</h4>
<hr />
<div>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-add'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-edit'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-home'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-delete'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-search'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-menu'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-settings'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-mail'|theme }}"></use></svg>
</div>

<h4>Large</h4>
<hr />
<div>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-add'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-edit'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-home'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-delete'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-search'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-menu'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-settings'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#icon-mail'|theme }}"></use></svg>
</div>


<h4>Social Icons</h4>
<hr />
<div>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-facebook'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-twitter'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-instagram'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-pinterest'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-youtube'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-whatsapp'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-dribbble'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#icon-social-vimeo'|theme }}"></use></svg>
</div>
