[viewBag]
==
<h4>Small</h4>
<hr />
<div>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#home'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#arrow-left'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#arrow-right'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#plus'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#minus'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#edit'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#delete'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#search'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#menu'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#settings'|theme }}"></use></svg>
	<svg class="icon"><use xlink:href="{{'assets/images/icons.svg#mail'|theme }}"></use></svg>
</div>

<h4>Medium</h4>
<hr />
<div>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#home'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#arrow-left'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#arrow-right'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#plus'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#minus'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#edit'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#delete'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#search'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#menu'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#settings'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#mail'|theme }}"></use></svg>
</div>

<h4>Large</h4>
<hr />
<div>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#home'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#arrow-left'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#arrow-right'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#plus'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#minus'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#edit'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#delete'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#search'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#menu'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#settings'|theme }}"></use></svg>
	<svg class="icon-large"><use xlink:href="{{'assets/images/icons.svg#mail'|theme }}"></use></svg>
</div>


<h4>Social Icons</h4>
<hr />
<div>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-facebook'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-twitter'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-instagram'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-pinterest'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-youtube'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-whatsapp'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-dribbble'|theme }}"></use></svg>
	<svg class="icon-medium"><use xlink:href="{{'assets/images/icons.svg#social-vimeo'|theme }}"></use></svg>
</div>
